/* MAIN CSS */

@charset "UTF-8";

/* Importação do Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&display=swap');

/* FONTES */
:root{
    --navBotao: "Inter Tight", sans-serif;
    --titulo-header: "Montserrat Alternates", sans-serif;
    --titulo-seção: "Inter Tight", sans-serif;
    --paragrafos: "Open Sans", sans-serif;
    --versiculo: "Playfair Display", serif;
    --footer: "Inter Tight", sans-serif;
}

/* CORES */
:root{
    --corLogo: #7363EA;
    --header: #2F2965;
    --hover: #1f1a4f;
    --hoverheader: #C8A2C8;
    --bg-agenda: #f0f2f8;
    --intercalado: #ECECEC;
    --footer: #2F2965;
    --linkfooter: #A9B0B3;
    --branco: #fff;
    --preto: #1C1C1C;
}


/* GERAIS */

html {
  scroll-padding-top: 100px;
}

.titulo{
    font-family: var(--titulo-seção);
    color: var(--preto);
}


.btn-geral, .btn-main{
    background: var(--header);
    color: var(--branco);
    font-weight: bold;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 100px;
    outline: none;
    border: none;
    text-decoration: none;
}

.btn-geral:hover, .btn-main:hover {
  background-color: var(--hover);
  transition: .3s;
}

.icone{
    color: var(--header);
    font-size: 1.4rem;
}


/* FIM GERAIS */



/* HEADER */

.header{
    font-family: var(--navBotao);
    background-color: var(--header);
    border-bottom: 2px solid var(--branco); 
}

.img-header{
    width: 70px;
    height: 70px;
}

.logo-header{
    font-family: var(--titulo-header);
}


/* menu */
.navbar-nav{
    display: flex;
    gap: 8px;
}

.navbar .navbar-nav .nav-link {
    color: var(--branco);
}

.navbar-nav .nav-link:hover{
    color: var(--hoverheader);
}

.navbar-toggler {
    border: 2px solid var(--branco) !important;
    border-radius: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* FIM HEADER */



/* MAIN */
 
#mainCarousel,
.carousel-item,
.carousel-img {
height: 100vh;
}

.carousel-img {
object-fit: cover;
}

.carousel-caption {
top: 0;
bottom: 0;
}


.carousel-item::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.carousel-caption {
  z-index: 2;
  color: white;
}

.versiculo{
    font-family: var(--versiculo);
}

.title-main{
    font-family: var(--titulo-seção);
}




/* FIM MAIN */


/* ABOUT */

.about{
    margin-bottom: 3rem;
}

.img-about{
    width: 500px;
    height: 500px;
}

.paragrafo-about{
    font-family: var(--paragrafos);
    text-align: justify;
    line-height: 1.8rem;
}

.btn-about{
    background: var(--corLogo);
    color: var(--branco);
}

/* FIM ABOUT */


/* AGENDA */


.agenda{
    background: var(--bg-agenda);
    margin-bottom: 6rem;
}

.endereco-agenda{
    color: #1C1C1C;
    text-decoration: none;
}

.endereco-agenda:hover{
    text-decoration: underline;
}

.card-agenda{
    background: var(--branco);
    border-left: 5px solid var(--hover);
}

.agenda-semana{
    background: var(--hover); 
    color: var(--branco);
    border-radius: 50px;
}

.modalidade-agenda{
    white-space: nowrap;
}

/* FIM AGENDA */


/* LOJA */

.loja{
    background-image: url(../img/bg-loja.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--branco);
    border-top: 4px solid var(--preto);
    border-bottom: 4px solid var(--preto);
    height: 402px;
    box-shadow: 0px 2px 5px var(--preto);
}

.titulo-loja{
    font-family: var(--titulo-seção);
}

/* FIM LOJA */


/* EVENTOS */
.section-eventos{
    background: var(--intercalado);
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.card-eventos{
    font-family: var(--paragrafos);
    background: var(--branco);
    border-radius: 10px;
    padding: 12px;
}

.nome-evento:hover{
    cursor: pointer;
    text-decoration: underline;
}

.evento-btn{
    text-decoration: none;
    color: var(--branco);
    background: var(--header);
    border-radius: 50px;
    white-space: nowrap;
}

.evento-btn:hover{
    background: var(--hover);
    transition: .3s;
}


/* FIM EVENTOS */


/* FOOTER */

.footer{
    background: var(--preto);
    color: var(--branco);
    font-family: var(--navBotao);
    border-top: 2px solid #5a4fcf ;
}

footer a{
    color: var(--linkfooter);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    /* color: var(--branco); */
    color: var(--corLogo);
    transition: .3s;
}

.contato p{
    margin-top: 20px;
}

/* FIM FOOTER */