@charset "UTF-8";

/* Importação do Google Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* FONTES */
:root{
    --navBotao: "Inter Tight", sans-serif;
    --titulos: "Montserrat Alternates", sans-serif;
    --paragrafos: "Open Sans", sans-serif;
    --versiculo: "Playfair Display", serif;
    --footer: "Inter Tight", sans-serif;
}

/* CORES */
:root{
    --corLogo: #7363EA;
    --header: #2F2965;
    --hover: #B57EDC;
    --intercalado: #ECECEC;
    --footer: #2F2965;
    --branco: #fff;
    --preto: #1C1C1C;
}

/* HEADER */

.header{
    font-family: var(--navBotao);
    background-color: var(--header);
    border-bottom: 2px solid var(--branco);
}

.logo-header{
    font-family: var(--titulos);
}

.img-header{
    width: 70px;
    height: 70px;
}

/* menu */
.navbar-nav{
    display: flex;
    gap: 8px;
}

.navbar .navbar-nav .nav-link {
    color: var(--branco);
}



/* FIM HEADER */



/* MAIN */

 .main{
    background-image: url(../img/poster-main/poster-main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--branco);
} 

.versiculo{
    font-family: var(--versiculo);
}

/* FIM MAIN */


/* ABOUT */

.titulo{
    font-family: var(--navBotao);
    color: var(--preto);
}

.img-about{
    width: 500px;
    height: 500px;
}

.paragrafo-about{
    font-family: var(--paragrafos);
    text-align: justify;
    line-height: 1.8rem;
}

.btn-about{
    background: var(--corLogo);
    color: var(--branco);
}

/* FIM ABOUT */

.section-agenda{
    background: var(--intercalado);
}

.card-agenda{
    font-family: var(--paragrafos);
    background: var(--branco);
    border-radius: 10px;
    padding: 10px;
    
}

.card-agenda:hover{
    transform: scale(1.02);
    transition: .2s;
}

.btn-agenda{
    background: var(--header);
    color: var(--branco);
    font-weight: bold;
    outline: none;
    cursor: pointer;
    text-align: center;
    border-radius: 100px;
}

/* AGENDA */



/* FIM AGENDA */